.App {
  text-align: center;
  min-height: 100vh;            /* Ensures full height */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;                      /* Content takes remaining space */
}

/* Only for the spinning logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Adjusted the header */
.App-header {
  background-color: #282c34;
  padding: 50px 20px;           /* Use padding instead of min-height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Logo Spin */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
